<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @template.ownerid %>
</p>

<p>
  <strong>Template Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Schoolname:</strong>
  <%= @template.schoolname %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @template.q1 %>
</p>

<p>
  <strong>Qtype1:</strong>
  <%= @template.qtype1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @template.q2 %>
</p>

<p>
  <strong>Qtype2:</strong>
  <%= @template.qtype2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @template.q3 %>
</p>

<p>
  <strong>Qtype3:</strong>
  <%= @template.qtype3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @template.q4 %>
</p>

<p>
  <strong>Qtype4:</strong>
  <%= @template.qtype4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @template.q5 %>
</p>

<p>
  <strong>Qtype5:</strong>
  <%= @template.qtype5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @template.q6 %>
</p>

<p>
  <strong>Qtype6:</strong>
  <%= @template.qtype6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @template.q7 %>
</p>

<p>
  <strong>Qtype7:</strong>
  <%= @template.qtype7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @template.q8 %>
</p>

<p>
  <strong>Qtype8:</strong>
  <%= @template.qtype8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @template.q9 %>
</p>

<p>
  <strong>Qtype9:</strong>
  <%= @template.qtype9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @template.q10 %>
</p>

<p>
  <strong>Qtype10:</strong>
  <%= @template.qtype10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @template.q11 %>
</p>

<p>
  <strong>Qtype11:</strong>
  <%= @template.qtype11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @template.q12 %>
</p>

<p>
  <strong>Qtype12:</strong>
  <%= @template.qtype12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @template.q13 %>
</p>

<p>
  <strong>Qtype13:</strong>
  <%= @template.qtype13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @template.q14 %>
</p>

<p>
  <strong>Qtype14:</strong>
  <%= @template.qtype14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @template.q15 %>
</p>

<p>
  <strong>Qtype15:</strong>
  <%= @template.qtype15 %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @template.isActive %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
