<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Truereact" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Truereact" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
      <div class="container">
       <%= yield %>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright 2015 - AJ Henley</p>
      </div>
    </footer>
  </body>
</html>
